

#page{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
}

.sidebar, .content, .header,.settins{
    border: 1px solid black;

}

.sidebar{
    background-color: skyblue;
}

#sidebar{
    grid-column: 1fr;
    grid-row:2fr;
}
#header{
    grid-column: 2/2;
    grid-row:1/1
}
#content{
    grid-column: 2/2;
    grid-row:2/2;
}