

body{
    display: grid;
    grid-template: auto 4fr/ 1fr 4fr;
    min-height: 100vh;
}

.sidebar, .content, .header{
    border: 1px solid black;

}

.sidebar{
    background-color: skyblue;
}

#sidebar{
    grid-area: 1/1/-1/2;
}
#header{
    grid-area: 1/2/2/-1;
    
}
#content{
}
